<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Mamografía App</title>
</head>
<body>
    <h1>Modificar SeriesInstanceUID en Archivos DICOM</h1>
    <form id="upload-form" action="/" method="post" enctype="multipart/form-data">
        <label for="folder-input">Seleccionar carpeta con imágenes DICOM:</label>
        <input type="file" id="folder-input" name="folder" webkitdirectory directory title="Seleccionar carpeta" placeholder="Seleccionar carpeta">
        <button type="submit">Subir Archivos</button>
    </form>
    <div class="thumbnails">
        {% for thumbnail in thumbnails %}
            <div class="thumbnail-container">
                <img src="{{ url_for('uploaded_file', filename=thumbnail.filename) }}" alt="DICOM Thumbnail" class="thumbnail" onclick="showImage('{{ url_for('uploaded_file', filename=thumbnail.filename) }}')">
                <p>{{ thumbnail.formatted_tags }}</p>
            </div>
        {% endfor %}
    </div>
    <div id="selected-image-container">
        <img id="selected-image" src="" alt="Selected Image">
        <canvas id="crop-canvas"></canvas>
        <button id="center-image-button" onclick="centerImage()">Centrar Imagen</button>
    </div>
    <div id="preview-container">
        <h2>Previsualización del Recorte</h2>
        <canvas id="preview-canvas"></canvas>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
